body{
    margin: 0;
    padding: 0;
}

.container {
    overflow-x: hidden;
}   

.wrapper {
    width: 62.5vw;
    margin: 0 auto;
}

/*--------------------HEADER-----------------------*/

@media (min-width: 660px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 3.52vh;
        padding-bottom: 3.52vh;
    }

    .header-left, .header-right {
        display: flex;
        align-items: center;
    }   

}

@media (max-width: 660px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 3.52vh;
        padding-bottom: 3.52vh;
    }

    .header-left, .header-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }  

    .header-left > *, .header-right > * {
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

}

.header-title {
    margin-left: 1.35vw;
    font-family: 'PT Sans';
    font-size: 2.48vh;
    line-height: 1.85vh;
}

.header-phone {
    font-family: 'PT Sans';
    font-size: 2.48vh;
    margin-left: 0.47vw;
}

.header-search {
    margin-left: 1.67vw;
    padding: 0.5vw;
}

/* -----------------DESCRIPTION-------------------- */

@media (min-width: 1120px) {
    
    .description {
        margin-top: 4.35vh; 
        display: flex;
        justify-content: space-between;
    }

    .description-title {
        max-width: 33.13vw;
    }

    .description-left {
        padding-top: 4.26vh;
    }

    .description-price {
        top: 28.43vh;
        left: 6.3vw;
    }

    .intro-orange-content {
        align-items: center;
    }

    .description-intro > div {
        margin-top: 7.59vh;
        margin-bottom: 7.59vh;
    }

    .intro-feature {
        max-width: 13.1vw;
    }

    .intro-orange-content {
        max-width: 38.73vw;
    }

    .description-intro {
        margin-top: 2vh;
    }

    .intro-features {
        max-width: 20.5vw;
    }

    .intro-orange p {
        max-width: 30.73vw;
    }

    .intro-orange-content-text {
        max-width: 26.82vw;
        margin-left: 0.36vw;
    }

    .collections {
        display: flex;
    }

    .collections-img-title {
        font-size: 1.6vh;
        top: 7.04vh;
        left: 4.11vw;
    }

    .collections-button {
        font-size: 2.22vh;
        padding: 1.38vh;
        top: 10.55vh;
        left: 4.11vw;
    }
}

@media (max-width: 1240px) {
    
    .description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .description-title {
        text-align: center;
        max-width: 33.13vw;
    }

    .description-left, .description-right {
        align-items: center;
    }

    .description-right {
        margin: 0 auto;
    }
    
    .description-menu {
        margin: 0 auto;
    }

    .description-menu-footer {
        margin-top: 3vh;
    }

    .description-tap {
        margin: 0 auto;
    }

    .description-price {
        top: 40%;
        left: 30%;
    }

    .tap-bottom-wrapper {
        width: 62.5vw;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tap-img {
        position: absolute;
        margin-left: 96px;
        padding: 0;
    }

    .intro-orange-content {
        align-items: top;
    }

    .description-intro {
        margin-top: 2vh;
    }

    .collections {
        display: flex;
        flex-direction: column;
    }

    .collections-img {
        left: 18vw;
        margin-bottom: 5vh;
    }

    .collections-img > img{
        width: 100%;
    }

    .collections-button {
        font-size: 2.22vh;
        padding: 1.38vh;
        top: 10.55vh;
        left: 4.11vw;
    }

    .collections-img-title {
        font-size: 1.6vh;    
        top: 7.04vh;
        left: 4.11vw;
    }
        
}

@media (max-width: 500px) {

    .description-tap {
        width: 90%;
    }

    .tap-img {
        height: 90%;
    }

    .description-title {
        min-width: 80vw;
    }

    .description-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .collections-button {
        font-size: 1vh;
        padding: 1vw;
        top: 3vh;
        left: 2vw;
    }

    .collections-img-title {
        font-size: 1vh;
        top: 0vw;
        left: 3vw;
    }
}

.description-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description-right {
    position: relative;
}


.description-title {
    font-size: 5.55vh;
    line-height: 5.93vh;
    color: white;
    font-family: 'Gilroy';
}

.description-menu {
    max-width: 19.53vw;
    margin-top: 5.37vh;
}

.description-menu-item {
    margin-left: 0.78vw;
}

.description-product, .description-goods {
    margin-top: 2.22vh;
}

.description-product, .description-company {
    margin-bottom: 2.22vh;
}

.description-menu-content span {
    font-size: 1.89vh;
    line-height: 1.89vh;
    margin-left: 0.78vw;
    font-family: 'PT Sans';
}

.description-menu-content {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 4.07vh;
}

.line {
    height: 1px;
    background: linear-gradient(to right, #4B4B4B, #26262500);
    max-width: 19.53vw;
}

.description-menu-footer {
    display: flex;
    margin-bottom: 2.96vh;
}

.description-menu-footer-item {
    width: 31px;
    height: 2px;
    border-radius: 6px;
}

.description-menu-footer-item:not(:first-child) {
    margin-left: 0.93vw;
}

.price-button {
    font-family: 'PT Sans';
    background-color: #FF7028;
    color: white;
}

.description-price {
    font-size: 2.22vh;
    line-height: 2.22vh;
    padding: 1.38vh;
    position: absolute;
}

.description-tap {
    max-height: 51.11vh;
    display: block;
}

/* ----------------DESCRIPTION-INTRO---------------- */

.description-intro {
    display: flex;
    justify-content: space-between;
}


@media (min-width: 1240px) {

    .tap-bottom-wrapper {
        width: 62.5vw;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .tap-img {
        position: absolute;
        margin: 0;
        padding: 0;
    }
}

.tap-img img {
    max-height: 5.27vh;
}

.intro-orange {
    font-family: 'PT Sans';
    font-size: 1.67vh;
    line-height: 2.5vh;
}

.intro-orange-content {
    display: flex;
}

.intro-first-letter {
    line-height: 3.98vh;
    font-size: 5vh;
}

.intro-first-title {
    font-weight: bold;
}

.intro-feature {
    display: flex;
    align-items: start;
}

.intro-feature-content-title {
    font-weight: bold;
    color: black!important;
    font-size: 1.48vh;
}

.intro-feature-content {
    font-family: 'PT Sans';
    font-size: 1.38vh;
    line-height: 1.85vh;
    color: #7B7B7B;
    margin-left: 1.48vw;
}

/* ------------------PRODUCTS---------------------- */

.products-container {
    margin-top: 7.41vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 9.25vh;
    max-width: 90vw;
}

.products-title {
    font-family: 'Gilroy';
    font-size: 2.96vh;
    line-height: 3.33vh;
    color: #151716;
}

.products {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 2.59vh;
}

.product {
    position: relative;
}

.product > img {
    max-width: 33.6vh;        
    max-height: 40vh;           
    display: block;
}

.product-name {
    color: white;
    font-weight: 700;
    font-family: 'Gilroy';
    font-size: 1.85vh;
    line-height: 2.3vh;
    position: absolute;
    bottom: 2.04vh;
    left: 1.25vw;
}

.product-line {
    position: absolute;
    height: 1px;
    width: 80%; /* или сколько нужно */
    background: #FFFFFF33;
    bottom: 6.11vh; /* подними чуть выше текста */
    left: 1.25vw;
}

/* ----------------COLLECTIONS---------------------- */

.collections > *, .collections-img{
    width: 50vw;
}

.collections-img > img{
    max-height: 70.57vh;
}

.collections-img {
    position: relative;
}

.collections-content {
    margin-right: 3.65vw;
    margin-left: 18.75vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.collections-top-text {
    font-family: 'PT Sans';
    font-size: 1.6vh;
    line-height: 2.59vh;
}

.collections-top-title {
    margin-top: 6.2vh;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 2.96vh;
    line-height: 3.33vh;
}

.collections-all {
    margin-top: 2.4vh;
    margin-bottom: 3.5vh;
    display: flex;
    align-items: center;
}

.collections-all > span {
    font-family: 'PT Sans';
    font-size: 1.48vh;
    line-height: 2.22vh;
    margin-left: 0.78vw;
}

.collections-img-title {
    font-family: 'PT Sans';
    font-weight: 700;
    line-height: 3.2vh;
    color: white;
    letter-spacing: 2px;
    position: absolute;
}

.collections-button {
    position: absolute;
    line-height: 2.22vh;
}

/* --------------------GOODS------------------------ */

@media (min-width: 900px) {

    .goods-items {
        display: flex;
        align-items: start;
    }

    .good-description {
        padding-left: 0;
    }

    .good {
        padding: 1vw;
    }

    .discount-button {
        right: 0
    }

    .adventages-items {
        display: flex;
        flex-direction: row;
        gap: 3vw;
    }

    .adventage {
        max-width: 10.68vw;
    }

}

@media (max-width: 900px) {

    .goods {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .goods-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .good-description {
        padding-left: 1vw;
    }

    .good {
        padding: 2vw;
    }

    .discount-button {
        right: 2vw;
    }

    .goods-title {
        text-align: center;
    }
    
    .adventages-items {
        display: flex;
        flex-direction: column;
    }

    .adventage:not(:first-child) {
        margin-top: 3vh;
    }

    .adventage {
        max-width: 35vw;
    }
}

.goods {
    margin-bottom: 30px;
}

.goods-title {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 2.96vh;
    line-height: 3.33vh;
    margin-top: 7.4vh;
    margin-bottom: 1.85vh;
}

.goods-items > * {
    border: 1px solid #ececec;
    max-width: 15.6vw;
    width: 100%;
}

.good {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 40vw;
}

.discount-button {
    position: absolute;
    justify-self: end;
    font-size: 1.48vh;
    line-height: 1.85vh;
    font-weight: 700;
    padding: 0.74vh 0.57vw;
}

.good-img > img {
    max-height: 17.4vh;
    margin: 1.85vh;
}

.good-img > span {
    margin: 1.1vh;  
}

.good-img {
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
}

.good-description {
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 1.48vh;
    line-height: 2.04vh;
    min-height: 8vh;
    max-width: 40vw;
    width: 100%;
    margin: 1.04vw;
    margin-left: 0;
}

.good-price {
    margin-left: 1.04vw;
    margin-bottom: 2.22vh;
    display: flex;
    align-items: center;
    gap: 0.46vw;
    align-self: start;
}

.good-price-discount {
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 1.85vh;
    line-height: 1.85vh;
}

.good-price-original {
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 1.48vh;
    line-height: 1.48vh;
    text-decoration: line-through;
    color: #A5A5A5;
}

/*------------------ADVENTAGES--------------------- */

.adventages {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 49.94vw;
}

.adventages-title {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 2.96vh;
    line-height: 3.33vh;
    margin: 0 auto;
    margin-top: 6.48vh;
    margin-bottom: 5vh;
    text-align: center;
}

.adventages-items {
    margin: 0 auto;
    margin-bottom: 7.4vh;
    display: flex;
    justify-content: space-between;
}

.adventage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adventage img {
    height: 8.3vh;
}

.adventage-lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.adventage-title {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 1.85vh;
    line-height: 2.13vh;
    margin-top: 2.22vh;
    text-align: center;
}

.adventage-description {
    text-align: center;
    font-weight: 400;
    font-family: 'PT Sans';
    font-size: 1.38vh;;
    line-height: 1.85vh;
    color: #7b7b7b;
    margin-top: 1vh;
}

/* ---------------ORANGE BOTTOM--------------------- */

.orange-bottom-img {
    width: fit-content;
}

.orange-bottom {
    position: relative;
    margin: 0;
    display: flex; 
    flex-direction: column;
    align-items: center;
    min-height: 40vh;
}

.orange-bottom-content {
    position: absolute;
    bottom: 0;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 2.59vh;
    line-height: 3.33vh;
    color: white;
    max-width: 39.74vw;
    text-align: center;
    background-color: #F6761A;
    padding: 3.88vh 15.4vw 4.35vh 15.4vw;
}

/* -------------------FOOTER----------------------- */

@media (min-width: 1120px) {

    .orange-footer {
        display: flex;
    }
}

@media (max-width: 1120px) {

    footer {
        margin: 0 auto;
    }

    .orange-footer {
        display: flex;
        flex-direction: column;
        align-items: start;
        max-width: 30vw;
    }

    .orange-footer-item:not(:first-child) {
        margin-top: 2.5vw;
    }

    .orange-footer-menu-item {
        min-height: 3vh;
    }

    .orange-menu-title {
        margin-top: 2vh;
    }
}

.orange-footer {
    display: flex;
    margin-top: 5.55vh;
    margin-bottom: 5.18vh;
    width: 100%;
    justify-content: space-between;
}

.orange-menu-title {
    color: white;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 1.48vh;
    line-height: 1.76vh;
}

.orange-upper-margin {
    margin-top: 1.85vh;
}

.orange-footer-menu-item {
    color: #BEBEBE;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 1.48vh;
    line-height: 2.22vh;
    display: flex;
    align-items: center;
}

.orange-footer-menu-item span {
    margin-left: 0.8vw;
}

.orange-copyright {
    margin-bottom: 2.22vh;
    display: flex;
    justify-content: end;
    color: #747474;
    font-weight: 400;
    font-size: 1.1vh;
    line-height: 1.3vh;
    font-family: 'Roboto';
    align-items: center;
}

.orange-copyright-developed-by {
    margin-left: 1.25vw;
    border: 1px solid #494949;
    padding: 0.74vh 0.625vw;
}

/* -------------------BOTTOM----------------------- */

.bottom-line {
    border-top: 1px solid #484848;
    display: flex;
    justify-content: center;
}

.bottom-line img {
    margin: 3.98vh auto;
    max-width: 1.73vw;
}

/* -------------------FONTS------------------------ */

@font-face {
    font-family: 'Gilroy';
    src: url(content/font/gilroy-regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(content/font/Roboto-Regular.ttf);
}

/*--------------------COLORS-----------------------*/

.light-gray-1 {
    color: #999999;
}

.light-gray-2 {
    color: #939393;
}

.light-gray-3 {
    color: #BEBEBE;
}

.gray-border {
    border: 1px solid #494949;
}

.white {
    color: #FFFFFF;
}

.black {
    color: #151716;
}

.gray-back {
    background-color: #575757;
}

.orange {
    color: #FE5B00;
}

.orange-back {
    background-color: #FE5B00;
}

.light-gray-back {
    background-color: #F6F6F6;
}

.dark-gray {
    color: #151716;
}

.dark-gray-back {
    background-color: #202122;
}